<div class="container">

    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a>
                </div>
            </div>

            <div style="padding-top:30px" class="panel-body">

                <!--<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>-->


                <!--<form id="loginform" class="form-horizontal" role="form">-->

                <div class="alert alert-danger" ng-show="loginError">
                    {{loginErrorMsg}}
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" ng-model="email"
                           placeholder="Enter your email id">
                </div>

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" ng-model="password"
                           placeholder="password">
                </div>


                <div style="margin-top:10px" class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <a id="btn-login" href="#" class="btn btn-success" ng-click="login()">Login</a>
                        <a id="btn-signup" href="#" class="btn btn-success" data-toggle="modal" data-target="#myModal">New
                            User?Sign Up</a>
                    </div>
                </div>

                <!--</form>-->
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modalHeader}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="signupform">

                        <div class="alert alert-danger" ng-show="showError">
                            {{error}}
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" ng-model="name" value=""
                                   placeholder="Enter Your Name">
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="text" class="form-control" ng-model="semail" value=""
                                   placeholder="Enter Your Email">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" ng-model="spassword"
                                   placeholder="Enter Password">
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" ng-model="repassword"
                                   placeholder="Re Enter Password">
                        </div>
                        <button class="btn btn-info" ng-click="signUp()">Sign Up</button>
                    </div>
                </div>
                <div ng-show="welcome">
                    <img src="/static/images/welcome.png" class="img-responsive text-center"
                         style="padding-left: 125px">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
    